In [1]:
import requests
import pandas as pd

In [2]:
API_KEY = "api_key"  # replace with your own key
BASE_URL = "https://api.themoviedb.org/3"

url = f"{BASE_URL}/movie/top_rated?api_key={API_KEY}&language=en-US&page=1"
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key={api_key}&language=en-US&page=1")
response

In [ ]:
print(url)

In [4]:
response.json()['results']

[{'adult': False,
  'backdrop_path': '/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg',
  'genre_ids': [18, 80],
  'id': 278,
  'original_language': 'en',
  'original_title': 'The Shawshank Redemption',
  'overview': 'Imprisoned in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
  'popularity': 25.0715,
  'poster_path': '/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg',
  'release_date': '1994-09-23',
  'title': 'The Shawshank Redemption',
  'video': False,
  'vote_average': 8.712,
  'vote_count': 29221},
 {'adult': False,
  'backdrop_path': '/tmU7GeKVybMWFButWEGl2M4GeiP.jpg',
  'genre_ids': [18, 80],
  'id': 238,
  'original_language': 'en',
  'original_title': 'The Godfather',
  'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
  'popularity': 21.6694,
  'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
  'release_date': '1972-03-14',
  'title': 'The Godfather',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 22068},
 {'adult': False,
  'backdrop_path': '/kGzFbGhp99zva6oZODW5atUtnqi.jpg',
  'genre_ids': [18, 80],
  'id': 240,
  'original_language': 'en',
  'original_title': 'The Godfather Part II',
  'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
  'popularity': 12.2619,
  'poster_path': '/ecBRkXerAZqRRUfR8Lt3L3Dh6J5.jpg',
  'release_date': '1974-12-20',
  'title': 'The Godfather Part II',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 13338},
 {'adult': False,
  'backdrop_path': '/zb6fM1CX41D9rF9hdgclu0peUmy.jpg',
  'genre_ids': [18, 36, 10752],
  'id': 424,
  'original_language': 'en',
  'original_title': "Schindler's List",
  'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
  'popularity': 10.4613,
  'poster_path': '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg',
  'release_date': '1993-12-15',
  'title': "Schindler's List",
  'video': False,
  'vote_average': 8.566,
  'vote_count': 16860},
 {'adult': False,
  'backdrop_path': '/w4bTBXcqXc2TUyS5Fc4h67uWbPn.jpg',
  'genre_ids': [18],
  'id': 389,
  'original_language': 'en',
  'original_title': '12 Angry Men',
  'overview': "The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.",
  'popularity': 8.8201,
  'poster_path': '/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg',
  'release_date': '1957-04-10',
  'title': '12 Angry Men',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 9528},
 {'adult': False,
  'backdrop_path': '/ukfI9QkU1aIhOhKXYWE9n3z1mFR.jpg',
  'genre_ids': [16, 10751, 14],
  'id': 129,
  'original_language': 'ja',
  'original_title': '千と千尋の神隠し',
  'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
  'popularity': 15.6819,
  'poster_path': '/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg',
  'release_date': '2001-07-20',
  'title': 'Spirited Away',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 17644},
 {'adult': False,
  'backdrop_path': '/dqK9Hag1054tghRQSqLSfrkvQnA.jpg',
  'genre_ids': [18, 28, 80, 53],
  'id': 155,
  'original_language': 'en',
  'original_title': 'The Dark Knight',
  'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
  'popularity': 19.9729,
  'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
  'release_date': '2008-07-16',
  'title': 'The Dark Knight',
  'video': False,
  'vote_average': 8.524,
  'vote_count': 34705},
 {'adult': False,
  'backdrop_path': '/zQDFHYNVVVp9OAYSixYAG1SyX1l.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 19404,
  'original_language': 'hi',
  'original_title': 'दिलवाले दुल्हनिया ले जायेंगे',
  'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
  'popularity': 6.4296,
  'poster_path': '/2CAL2433ZeIihfX1Hb2139CX0pW.jpg',
  'release_date': '1995-10-20',
  'title': 'Dilwale Dulhania Le Jayenge',
  'video': False,
  'vote_average': 8.515,
  'vote_count': 4518},
 {'adult': False,
  'backdrop_path': '/b6HWTOxn1xevvyHU2K9ICvaRU6g.jpg',
  'genre_ids': [14, 18, 80],
  'id': 497,
  'original_language': 'en',
  'original_title': 'The Green Mile',
  'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
  'popularity': 12.4422,
  'poster_path': '/o0lO84GI7qrG6XFvtsPOSV7CTNa.jpg',
  'release_date': '1999-12-10',
  'title': 'The Green Mile',
  'video': False,
  'vote_average': 8.503,
  'vote_count': 18548},
 {'adult': False,
  'backdrop_path': '/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg',
  'genre_ids': [35, 53, 18],
  'id': 496243,
  'original_language': 'ko',
  'original_title': '기생충',
  'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
  'popularity': 17.1466,
  'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
  'release_date': '2019-05-30',
  'title': 'Parasite',
  'video': False,
  'vote_average': 8.496,
  'vote_count': 19710},
 {'adult': False,
  'backdrop_path': '/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg',
  'genre_ids': [12, 14, 28],
  'id': 122,
  'original_language': 'en',
  'original_title': 'The Lord of the Rings: The Return of the King',
  'overview': 'As armies mass for a final battle that will decide the fate of the world--and powerful, ancient forces of Light and Dark compete to determine the outcome--one member of the Fellowship of the Ring is revealed as the noble heir to the throne of the Kings of Men. Yet, the sole hope for triumph over evil lies with a brave hobbit, Frodo, who, accompanied by his loyal friend Sam and the hideous, wretched Gollum, ventures deep into the very dark heart of Mordor on his seemingly impossible quest to destroy the Ring of Power.\u200b',
  'popularity': 18.8775,
  'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg',
  'release_date': '2003-12-17',
  'title': 'The Lord of the Rings: The Return of the King',
  'video': False,
  'vote_average': 8.49,
  'vote_count': 25668},
 {'adult': False,
  'backdrop_path': '/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg',
  'genre_ids': [53, 80, 35],
  'id': 680,
  'original_language': 'en',
  'original_title': 'Pulp Fiction',
  'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
  'popularity': 16.8903,
  'poster_path': '/vQWk5YBFWF4bZaofAbv0tShwBvQ.jpg',
  'release_date': '1994-09-10',
  'title': 'Pulp Fiction',
  'video': False,
  'vote_average': 8.488,
  'vote_count': 29282},
 {'adult': False,
  'backdrop_path': '/8x9iKH8kWA0zdkgNdpAew7OstYe.jpg',
  'genre_ids': [16, 10749, 18],
  'id': 372058,
  'original_language': 'ja',
  'original_title': '君の名は。',
  'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
  'popularity': 24.7898,
  'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg',
  'release_date': '2016-08-26',
  'title': 'Your Name.',
  'video': False,
  'vote_average': 8.479,
  'vote_count': 12105},
 {'adult': False,
  'backdrop_path': '/67HggiWaP9ZLv5sPYmyRV37yAJM.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 13,
  'original_language': 'en',
  'original_title': 'Forrest Gump',
  'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
  'popularity': 17.4205,
  'poster_path': '/saHP97rTPS5eLmrLQEcANmKrsFl.jpg',
  'release_date': '1994-06-23',
  'title': 'Forrest Gump',
  'video': False,
  'vote_average': 8.463,
  'vote_count': 28860},
 {'adult': False,
  'backdrop_path': '/Adrip2Jqzw56KeuV2nAxucKMNXA.jpg',
  'genre_ids': [37],
  'id': 429,
  'original_language': 'it',
  'original_title': 'Il buono, il brutto, il cattivo',
  'overview': 'While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.',
  'popularity': 9.5344,
  'poster_path': '/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg',
  'release_date': '1966-12-22',
  'title': 'The Good, the Bad and the Ugly',
  'video': False,
  'vote_average': 8.463,
  'vote_count': 9256},
 {'adult': False,
  'backdrop_path': '/5XNQBqnBwPA9yT0jZ0p3s8bbLh0.jpg',
  'genre_ids': [12, 18, 878],
  'id': 157336,
  'original_language': 'en',
  'original_title': 'Interstellar',
  'overview': 'The adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.',
  'popularity': 34.3711,
  'poster_path': '/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg',
  'release_date': '2014-11-05',
  'title': 'Interstellar',
  'video': False,
  'vote_average': 8.462,
  'vote_count': 38247},
 {'adult': False,
  'backdrop_path': '/gILte6Zd7m1YneIr6MVhh30S9pr.jpg',
  'genre_ids': [18, 80],
  'id': 769,
  'original_language': 'en',
  'original_title': 'GoodFellas',
  'overview': 'The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.',
  'popularity': 13.3364,
  'poster_path': '/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg',
  'release_date': '1990-09-12',
  'title': 'GoodFellas',
  'video': False,
  'vote_average': 8.453,
  'vote_count': 13786},
 {'adult': False,
  'backdrop_path': '/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg',
  'genre_ids': [28, 18],
  'id': 346,
  'original_language': 'ja',
  'original_title': '七人の侍',
  'overview': "A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.",
  'popularity': 6.303,
  'poster_path': '/lOMGc8bnSwQhS4XyE1S99uH8NXf.jpg',
  'release_date': '1954-04-26',
  'title': 'Seven Samurai',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 4027},
 {'adult': False,
  'backdrop_path': '/dlC0ed9Ugh3FzydnkBtV5lRXUu4.jpg',
  'genre_ids': [16, 18, 10752],
  'id': 12477,
  'original_language': 'ja',
  'original_title': '火垂るの墓',
  'overview': 'In the final months of World War II, 14-year-old Seita and his sister Setsuko are orphaned when their mother is killed during an air raid in Kobe, Japan. After a falling out with their aunt, they move into an abandoned bomb shelter. With no surviving relatives and their emergency rations depleted, Seita and Setsuko struggle to survive.',
  'popularity': 0.0098,
  'poster_path': '/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg',
  'release_date': '1988-04-16',
  'title': 'Grave of the Fireflies',
  'video': False,
  'vote_average': 8.4,
  'vote_count': 6197},
 {'adult': False,
  'backdrop_path': '/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg',
  'genre_ids': [35, 18],
  'id': 637,
  'original_language': 'it',
  'original_title': 'La vita è bella',
  'overview': 'A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.',
  'popularity': 9.648,
  'poster_path': '/mfnkSeeVOBVheuyn2lo4tfmOPQb.jpg',
  'release_date': '1997-12-20',
  'title': 'Life Is Beautiful',
  'video': False,
  'vote_average': 8.4,
  'vote_count': 13632}]

In [5]:
g=pd.DataFrame(response.json()['results'])
g

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg,"[18, 80]",278,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,25.0715,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.712,29221
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",21.6694,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.700,22068
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,12.2619,/ecBRkXerAZqRRUfR8Lt3L3Dh6J5.jpg,1974-12-20,The Godfather Part II,False,8.600,13338
3,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,10.4613,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.566,16860
4,False,/w4bTBXcqXc2TUyS5Fc4h67uWbPn.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,8.8201,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.500,9528
5,False,/ukfI9QkU1aIhOhKXYWE9n3z1mFR.jpg,"[16, 10751, 14]",129,ja,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...",15.6819,/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg,2001-07-20,Spirited Away,False,8.500,17644
6,False,/dqK9Hag1054tghRQSqLSfrkvQnA.jpg,"[18, 28, 80, 53]",155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,19.9729,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008-07-16,The Dark Knight,False,8.524,34705
7,False,/zQDFHYNVVVp9OAYSixYAG1SyX1l.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",6.4296,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.515,4518
8,False,/b6HWTOxn1xevvyHU2K9ICvaRU6g.jpg,"[14, 18, 80]",497,en,The Green Mile,A supernatural tale set on death row in a Sout...,12.4422,/o0lO84GI7qrG6XFvtsPOSV7CTNa.jpg,1999-12-10,The Green Mile,False,8.503,18548
9,False,/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg,"[35, 53, 18]",496243,ko,기생충,"All unemployed, Ki-taek's family takes peculia...",17.1466,/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg,2019-05-30,Parasite,False,8.496,19710
10,False,/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg,"[12, 14, 28]",122,en,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,18.8775,/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg,2003-12-17,The Lord of the Rings: The Return of the King,False,8.490,25668
11,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,"[53, 80, 35]",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",16.8903,/vQWk5YBFWF4bZaofAbv0tShwBvQ.jpg,1994-09-10,Pulp Fiction,False,8.488,29282
12,False,/8x9iKH8kWA0zdkgNdpAew7OstYe.jpg,"[16, 10749, 18]",372058,ja,君の名は。,High schoolers Mitsuha and Taki are complete s...,24.7898,/q719jXXEzOoYaps6babgKnONONX.jpg,2016-08-26,Your Name.,False,8.479,12105
13,False,/67HggiWaP9ZLv5sPYmyRV37yAJM.jpg,"[35, 18, 10749]",13,en,Forrest Gump,A man with a low IQ has accomplished great thi...,17.4205,/saHP97rTPS5eLmrLQEcANmKrsFl.jpg,1994-06-23,Forrest Gump,False,8.463,28860
14,False,/Adrip2Jqzw56KeuV2nAxucKMNXA.jpg,[37],429,it,"Il buono, il brutto, il cattivo",While the Civil War rages on between the Union...,9.5344,/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg,1966-12-22,"The Good, the Bad and the Ugly",False,8.463,9256
15,False,/5XNQBqnBwPA9yT0jZ0p3s8bbLh0.jpg,"[12, 18, 878]",157336,en,Interstellar,The adventures of a group of explorers who mak...,34.3711,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,2014-11-05,Interstellar,False,8.462,38247
16,False,/gILte6Zd7m1YneIr6MVhh30S9pr.jpg,"[18, 80]",769,en,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",13.3364,/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg,1990-09-12,GoodFellas,False,8.453,13786
17,False,/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg,"[28, 18]",346,ja,七人の侍,A samurai answers a village's request for prot...,6.3030,/lOMGc8bnSwQhS4XyE1S99uH8NXf.jpg,1954-04-26,Seven Samurai,False,8.500,4027
18,False,/dlC0ed9Ugh3FzydnkBtV5lRXUu4.jpg,"[16, 18, 10752]",12477,ja,火垂るの墓,"In the final months of World War II, 14-year-o...",0.0098,/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg,1988-04-16,Grave of the Fireflies,False,8.400,6197
19,False,/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg,"[35, 18]",637,it,La vita è bella,A touching story of an Italian book seller of ...,9.6480,/mfnkSeeVOBVheuyn2lo4tfmOPQb.jpg,1997-12-20,Life Is Beautiful,False,8.400,13632

In [6]:
g.columns.value_counts().sum()

np.int64(14)

In [7]:
df=pd.DataFrame()

In [8]:
df

Empty DataFrame
Columns: []
Index: []

In [9]:
import requests
import pandas as pd

all_dfs = [] 

for i in range(1, 150):
    response = requests.get(
        f'https://api.themoviedb.org/3/movie/top_rated?api_key=ced2fc8ea193b30272c2e6e516ebebee&language=en-US&page={i}'
    )
    data = response.json().get('results', [])
    if data:  
        temp_df = pd.DataFrame(data)[[
             'title', 'release_date', 'vote_average','original_title','genre_ids',
            'vote_count', 'popularity', 'original_language', 'overview'
        ]]
        all_dfs.append(temp_df)


df = pd.concat(all_dfs, ignore_index=True)

In [10]:
df

,title,release_date,vote_average,original_title,genre_ids,vote_count,popularity,original_language,overview
0,The Shawshank Redemption,1994-09-23,8.712,The Shawshank Redemption,"[18, 80]",29221,25.0715,en,Imprisoned in the 1940s for the double murder ...
1,The Godfather,1972-03-14,8.700,The Godfather,"[18, 80]",22068,21.6694,en,"Spanning the years 1945 to 1955, a chronicle o..."
2,The Godfather Part II,1974-12-20,8.600,The Godfather Part II,"[18, 80]",13338,12.2619,en,In the continuing saga of the Corleone crime f...
3,Schindler's List,1993-12-15,8.566,Schindler's List,"[18, 36, 10752]",16860,10.4613,en,The true story of how businessman Oskar Schind...
4,12 Angry Men,1957-04-10,8.500,12 Angry Men,[18],9528,8.8201,en,The defense and the prosecution have rested an...
...,...,...,...,...,...,...,...,...,...
2975,The Lion King,2019-07-12,7.103,The Lion King,"[12, 18, 10751, 16]",10557,9.0095,en,"Simba idolizes his father, King Mufasa, and ta..."
2976,Five Easy Pieces,1970-09-12,7.103,Five Easy Pieces,[18],562,2.3319,en,Robert Dupea spends his days doing various odd...
2977,Love Actually,2003-09-07,7.102,Love Actually,"[35, 10749, 18]",7097,13.0416,en,Eight very different couples deal with their l...
2978,Gia,1998-01-31,7.100,Gia,"[10749, 18]",790,3.1045,en,Gia Carangi meteorically rises to modeling fam...
2979,Lords of Dogtown,2005-06-03,7.102,Lords of Dogtown,[18],779,2.6087,en,The radical true story behind three teenage su...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2980 entries, 0 to 2979
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2980 non-null   object
 1   release_date       2980 non-null   object
 2   vote_average       2980 non-null   float64
 3   original_title     2980 non-null   object
 4   genre_ids          2980 non-null   object
 5   vote_count         2980 non-null   int64
 6   popularity         2980 non-null   float64
 7   original_language  2980 non-null   object
 8   overview           2980 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 209.7+ KB

In [12]:
df.columns

Index(['title', 'release_date', 'vote_average', 'original_title', 'genre_ids',
       'vote_count', 'popularity', 'original_language', 'overview'],
      dtype='object')

In [13]:
df["release_date"] = pd.to_datetime(df["release_date"], errors="coerce")
df["release_year"] = df["release_date"].dt.year
df

,title,release_date,vote_average,original_title,genre_ids,vote_count,popularity,original_language,overview,release_year
0,The Shawshank Redemption,1994-09-23,8.712,The Shawshank Redemption,"[18, 80]",29221,25.0715,en,Imprisoned in the 1940s for the double murder ...,1994
1,The Godfather,1972-03-14,8.700,The Godfather,"[18, 80]",22068,21.6694,en,"Spanning the years 1945 to 1955, a chronicle o...",1972
2,The Godfather Part II,1974-12-20,8.600,The Godfather Part II,"[18, 80]",13338,12.2619,en,In the continuing saga of the Corleone crime f...,1974
3,Schindler's List,1993-12-15,8.566,Schindler's List,"[18, 36, 10752]",16860,10.4613,en,The true story of how businessman Oskar Schind...,1993
4,12 Angry Men,1957-04-10,8.500,12 Angry Men,[18],9528,8.8201,en,The defense and the prosecution have rested an...,1957
...,...,...,...,...,...,...,...,...,...,...
2975,The Lion King,2019-07-12,7.103,The Lion King,"[12, 18, 10751, 16]",10557,9.0095,en,"Simba idolizes his father, King Mufasa, and ta...",2019
2976,Five Easy Pieces,1970-09-12,7.103,Five Easy Pieces,[18],562,2.3319,en,Robert Dupea spends his days doing various odd...,1970
2977,Love Actually,2003-09-07,7.102,Love Actually,"[35, 10749, 18]",7097,13.0416,en,Eight very different couples deal with their l...,2003
2978,Gia,1998-01-31,7.100,Gia,"[10749, 18]",790,3.1045,en,Gia Carangi meteorically rises to modeling fam...,1998
2979,Lords of Dogtown,2005-06-03,7.102,Lords of Dogtown,[18],779,2.6087,en,The radical true story behind three teenage su...,2005

In [14]:
df["genre_ids"].head().apply(type)

0    <class 'list'>
1    <class 'list'>
2    <class 'list'>
3    <class 'list'>
4    <class 'list'>
Name: genre_ids, dtype: object

In [15]:
genre_map = {
    28: "Action",
    12: "Adventure",
    16: "Animation",
    35: "Comedy",
    80: "Crime",
    99: "Documentary",
    18: "Drama",                            ##referred from tmdb api site
    10751: "Family",
    14: "Fantasy",
    36: "History",
    27: "Horror",
    10402: "Music",
    9648: "Mystery",
    10749: "Romance",
    878: "Science Fiction",
    10770: "TV Movie",
    53: "Thriller",
    10752: "War",
    37: "Western"
}

In [16]:
df["genres"] = df["genre_ids"].apply(
    lambda lst: [genre_map.get(g, "Unknown") for g in lst]
)
df

,title,release_date,vote_average,original_title,genre_ids,vote_count,popularity,original_language,overview,release_year,genres
0,The Shawshank Redemption,1994-09-23,8.712,The Shawshank Redemption,"[18, 80]",29221,25.0715,en,Imprisoned in the 1940s for the double murder ...,1994,"[Drama, Crime]"
1,The Godfather,1972-03-14,8.700,The Godfather,"[18, 80]",22068,21.6694,en,"Spanning the years 1945 to 1955, a chronicle o...",1972,"[Drama, Crime]"
2,The Godfather Part II,1974-12-20,8.600,The Godfather Part II,"[18, 80]",13338,12.2619,en,In the continuing saga of the Corleone crime f...,1974,"[Drama, Crime]"
3,Schindler's List,1993-12-15,8.566,Schindler's List,"[18, 36, 10752]",16860,10.4613,en,The true story of how businessman Oskar Schind...,1993,"[Drama, History, War]"
4,12 Angry Men,1957-04-10,8.500,12 Angry Men,[18],9528,8.8201,en,The defense and the prosecution have rested an...,1957,[Drama]
...,...,...,...,...,...,...,...,...,...,...,...
2975,The Lion King,2019-07-12,7.103,The Lion King,"[12, 18, 10751, 16]",10557,9.0095,en,"Simba idolizes his father, King Mufasa, and ta...",2019,"[Adventure, Drama, Family, Animation]"
2976,Five Easy Pieces,1970-09-12,7.103,Five Easy Pieces,[18],562,2.3319,en,Robert Dupea spends his days doing various odd...,1970,[Drama]
2977,Love Actually,2003-09-07,7.102,Love Actually,"[35, 10749, 18]",7097,13.0416,en,Eight very different couples deal with their l...,2003,"[Comedy, Romance, Drama]"
2978,Gia,1998-01-31,7.100,Gia,"[10749, 18]",790,3.1045,en,Gia Carangi meteorically rises to modeling fam...,1998,"[Romance, Drama]"
2979,Lords of Dogtown,2005-06-03,7.102,Lords of Dogtown,[18],779,2.6087,en,The radical true story behind three teenage su...,2005,[Drama]

In [17]:
df["vote_count"] = pd.to_numeric(df["vote_count"], errors="coerce")
df["popularity"] = pd.to_numeric(df["popularity"], errors="coerce")

In [18]:
df["vote_count"] = df["vote_count"].fillna(0)
df["popularity"] = df["popularity"].fillna(df["popularity"].median())

In [19]:
df = df[df["vote_count"] >= 0]
df = df[df["popularity"] >= 0]
df

,title,release_date,vote_average,original_title,genre_ids,vote_count,popularity,original_language,overview,release_year,genres
0,The Shawshank Redemption,1994-09-23,8.712,The Shawshank Redemption,"[18, 80]",29221,25.0715,en,Imprisoned in the 1940s for the double murder ...,1994,"[Drama, Crime]"
1,The Godfather,1972-03-14,8.700,The Godfather,"[18, 80]",22068,21.6694,en,"Spanning the years 1945 to 1955, a chronicle o...",1972,"[Drama, Crime]"
2,The Godfather Part II,1974-12-20,8.600,The Godfather Part II,"[18, 80]",13338,12.2619,en,In the continuing saga of the Corleone crime f...,1974,"[Drama, Crime]"
3,Schindler's List,1993-12-15,8.566,Schindler's List,"[18, 36, 10752]",16860,10.4613,en,The true story of how businessman Oskar Schind...,1993,"[Drama, History, War]"
4,12 Angry Men,1957-04-10,8.500,12 Angry Men,[18],9528,8.8201,en,The defense and the prosecution have rested an...,1957,[Drama]
...,...,...,...,...,...,...,...,...,...,...,...
2975,The Lion King,2019-07-12,7.103,The Lion King,"[12, 18, 10751, 16]",10557,9.0095,en,"Simba idolizes his father, King Mufasa, and ta...",2019,"[Adventure, Drama, Family, Animation]"
2976,Five Easy Pieces,1970-09-12,7.103,Five Easy Pieces,[18],562,2.3319,en,Robert Dupea spends his days doing various odd...,1970,[Drama]
2977,Love Actually,2003-09-07,7.102,Love Actually,"[35, 10749, 18]",7097,13.0416,en,Eight very different couples deal with their l...,2003,"[Comedy, Romance, Drama]"
2978,Gia,1998-01-31,7.100,Gia,"[10749, 18]",790,3.1045,en,Gia Carangi meteorically rises to modeling fam...,1998,"[Romance, Drama]"
2979,Lords of Dogtown,2005-06-03,7.102,Lords of Dogtown,[18],779,2.6087,en,The radical true story behind three teenage su...,2005,[Drama]

In [20]:
language_map = {
    "en": "English",
    "fr": "French",
    "ja": "Japanese",
    "it": "Italian",
    "es": "Spanish",
    "ko": "Korean",
    "de": "German",
    "zh": "Chinese",
    "cn": "Chinese",
    "ru": "Russian",
    "pt": "Portuguese",
    "hi": "Hindi",
    "sv": "Swedish",
    "da": "Danish",                         ##referred from tmdb api site
    "tr": "Turkish",
    "pl": "Polish",
    "fa": "Persian",
    "no": "Norwegian",
    "th": "Thai",
    "nl": "Dutch",
    "fi": "Finnish",
    "hu": "Hungarian",
    "sr": "Serbian",
    "cs": "Czech",
    "te": "Telugu",
    "ar": "Arabic",
    "uk": "Ukrainian",
    "xx": "Unknown",
    "id": "Indonesian",
    "bs": "Bosnian",
    "bn": "Bengali",
    "el": "Greek",
    "ga": "Irish",
    "is": "Icelandic",
    "hy": "Armenian",
    "et": "Estonian",
    "ml": "Malayalam",
    "ro": "Romanian",
    "la": "Latin",
    "lv": "Latvian",
    "sh": "Serbo-Croatian"
}

df["original_language"] = df["original_language"].map(language_map).fillna(df["original_language"])
df

,title,release_date,vote_average,original_title,genre_ids,vote_count,popularity,original_language,overview,release_year,genres
0,The Shawshank Redemption,1994-09-23,8.712,The Shawshank Redemption,"[18, 80]",29221,25.0715,English,Imprisoned in the 1940s for the double murder ...,1994,"[Drama, Crime]"
1,The Godfather,1972-03-14,8.700,The Godfather,"[18, 80]",22068,21.6694,English,"Spanning the years 1945 to 1955, a chronicle o...",1972,"[Drama, Crime]"
2,The Godfather Part II,1974-12-20,8.600,The Godfather Part II,"[18, 80]",13338,12.2619,English,In the continuing saga of the Corleone crime f...,1974,"[Drama, Crime]"
3,Schindler's List,1993-12-15,8.566,Schindler's List,"[18, 36, 10752]",16860,10.4613,English,The true story of how businessman Oskar Schind...,1993,"[Drama, History, War]"
4,12 Angry Men,1957-04-10,8.500,12 Angry Men,[18],9528,8.8201,English,The defense and the prosecution have rested an...,1957,[Drama]
...,...,...,...,...,...,...,...,...,...,...,...
2975,The Lion King,2019-07-12,7.103,The Lion King,"[12, 18, 10751, 16]",10557,9.0095,English,"Simba idolizes his father, King Mufasa, and ta...",2019,"[Adventure, Drama, Family, Animation]"
2976,Five Easy Pieces,1970-09-12,7.103,Five Easy Pieces,[18],562,2.3319,English,Robert Dupea spends his days doing various odd...,1970,[Drama]
2977,Love Actually,2003-09-07,7.102,Love Actually,"[35, 10749, 18]",7097,13.0416,English,Eight very different couples deal with their l...,2003,"[Comedy, Romance, Drama]"
2978,Gia,1998-01-31,7.100,Gia,"[10749, 18]",790,3.1045,English,Gia Carangi meteorically rises to modeling fam...,1998,"[Romance, Drama]"
2979,Lords of Dogtown,2005-06-03,7.102,Lords of Dogtown,[18],779,2.6087,English,The radical true story behind three teenage su...,2005,[Drama]

In [21]:
df['original_language'].value_counts()

original_language
English           1938
French             220
Japanese           201
Italian            145
Spanish             95
Chinese             63
Korean              63
German              57
Russian             25
Portuguese          24
Hindi               23
Swedish             22
Danish              18
Turkish             11
Persian              9
Polish               9
Norwegian            8
Thai                 7
Dutch                5
Hungarian            4
Finnish              4
Czech                3
Serbian              3
Telugu               3
Indonesian           2
Ukrainian            2
Arabic               2
Unknown              2
Bengali              1
Latvian              1
Serbo-Croatian       1
Estonian             1
Bosnian              1
Irish                1
Romanian             1
Greek                1
Armenian             1
Icelandic            1
Malayalam            1
Latin                1
Name: count, dtype: int64

In [22]:
df[df.duplicated(subset=["original_title", "release_year"], keep=False)]
df.drop_duplicates(subset=["original_title", "release_year"], inplace=True)
df

,title,release_date,vote_average,original_title,genre_ids,vote_count,popularity,original_language,overview,release_year,genres
0,The Shawshank Redemption,1994-09-23,8.712,The Shawshank Redemption,"[18, 80]",29221,25.0715,English,Imprisoned in the 1940s for the double murder ...,1994,"[Drama, Crime]"
1,The Godfather,1972-03-14,8.700,The Godfather,"[18, 80]",22068,21.6694,English,"Spanning the years 1945 to 1955, a chronicle o...",1972,"[Drama, Crime]"
2,The Godfather Part II,1974-12-20,8.600,The Godfather Part II,"[18, 80]",13338,12.2619,English,In the continuing saga of the Corleone crime f...,1974,"[Drama, Crime]"
3,Schindler's List,1993-12-15,8.566,Schindler's List,"[18, 36, 10752]",16860,10.4613,English,The true story of how businessman Oskar Schind...,1993,"[Drama, History, War]"
4,12 Angry Men,1957-04-10,8.500,12 Angry Men,[18],9528,8.8201,English,The defense and the prosecution have rested an...,1957,[Drama]
...,...,...,...,...,...,...,...,...,...,...,...
2975,The Lion King,2019-07-12,7.103,The Lion King,"[12, 18, 10751, 16]",10557,9.0095,English,"Simba idolizes his father, King Mufasa, and ta...",2019,"[Adventure, Drama, Family, Animation]"
2976,Five Easy Pieces,1970-09-12,7.103,Five Easy Pieces,[18],562,2.3319,English,Robert Dupea spends his days doing various odd...,1970,[Drama]
2977,Love Actually,2003-09-07,7.102,Love Actually,"[35, 10749, 18]",7097,13.0416,English,Eight very different couples deal with their l...,2003,"[Comedy, Romance, Drama]"
2978,Gia,1998-01-31,7.100,Gia,"[10749, 18]",790,3.1045,English,Gia Carangi meteorically rises to modeling fam...,1998,"[Romance, Drama]"
2979,Lords of Dogtown,2005-06-03,7.102,Lords of Dogtown,[18],779,2.6087,English,The radical true story behind three teenage su...,2005,[Drama]

In [23]:
df["title"] = df["title"].astype(str)
df["title"] = df["title"].str.strip()
df["title"] = df["title"].str.replace(r"\s+", " ", regex=True)
df["title"] = df["title"].str.title()
df["title"] = df["title"].replace("", None)
df["title"] = df["title"].fillna("Unknown Title")
df

,title,release_date,vote_average,original_title,genre_ids,vote_count,popularity,original_language,overview,release_year,genres
0,The Shawshank Redemption,1994-09-23,8.712,The Shawshank Redemption,"[18, 80]",29221,25.0715,English,Imprisoned in the 1940s for the double murder ...,1994,"[Drama, Crime]"
1,The Godfather,1972-03-14,8.700,The Godfather,"[18, 80]",22068,21.6694,English,"Spanning the years 1945 to 1955, a chronicle o...",1972,"[Drama, Crime]"
2,The Godfather Part Ii,1974-12-20,8.600,The Godfather Part II,"[18, 80]",13338,12.2619,English,In the continuing saga of the Corleone crime f...,1974,"[Drama, Crime]"
3,Schindler'S List,1993-12-15,8.566,Schindler's List,"[18, 36, 10752]",16860,10.4613,English,The true story of how businessman Oskar Schind...,1993,"[Drama, History, War]"
4,12 Angry Men,1957-04-10,8.500,12 Angry Men,[18],9528,8.8201,English,The defense and the prosecution have rested an...,1957,[Drama]
...,...,...,...,...,...,...,...,...,...,...,...
2975,The Lion King,2019-07-12,7.103,The Lion King,"[12, 18, 10751, 16]",10557,9.0095,English,"Simba idolizes his father, King Mufasa, and ta...",2019,"[Adventure, Drama, Family, Animation]"
2976,Five Easy Pieces,1970-09-12,7.103,Five Easy Pieces,[18],562,2.3319,English,Robert Dupea spends his days doing various odd...,1970,[Drama]
2977,Love Actually,2003-09-07,7.102,Love Actually,"[35, 10749, 18]",7097,13.0416,English,Eight very different couples deal with their l...,2003,"[Comedy, Romance, Drama]"
2978,Gia,1998-01-31,7.100,Gia,"[10749, 18]",790,3.1045,English,Gia Carangi meteorically rises to modeling fam...,1998,"[Romance, Drama]"
2979,Lords Of Dogtown,2005-06-03,7.102,Lords of Dogtown,[18],779,2.6087,English,The radical true story behind three teenage su...,2005,[Drama]

In [24]:
df["overview"] = df["overview"].astype(str)
df["overview"] = df["overview"].str.strip()
df["overview"] = df["overview"].str.replace(r"\s+", " ", regex=True)
df["overview"] = df["overview"].replace("nan", None)
df["overview"] = df["overview"].fillna("No overview available")

df["overview_word_count"] = df["overview"].apply(lambda x: len(x.split()))
df

,title,release_date,vote_average,original_title,genre_ids,vote_count,popularity,original_language,overview,release_year,genres,overview_word_count
0,The Shawshank Redemption,1994-09-23,8.712,The Shawshank Redemption,"[18, 80]",29221,25.0715,English,Imprisoned in the 1940s for the double murder ...,1994,"[Drama, Crime]",69
1,The Godfather,1972-03-14,8.700,The Godfather,"[18, 80]",22068,21.6694,English,"Spanning the years 1945 to 1955, a chronicle o...",1972,"[Drama, Crime]",48
2,The Godfather Part Ii,1974-12-20,8.600,The Godfather Part II,"[18, 80]",13338,12.2619,English,In the continuing saga of the Corleone crime f...,1974,"[Drama, Crime]",39
3,Schindler'S List,1993-12-15,8.566,Schindler's List,"[18, 36, 10752]",16860,10.4613,English,The true story of how businessman Oskar Schind...,1993,"[Drama, History, War]",29
4,12 Angry Men,1957-04-10,8.500,12 Angry Men,[18],9528,8.8201,English,The defense and the prosecution have rested an...,1957,[Drama],58
...,...,...,...,...,...,...,...,...,...,...,...,...
2975,The Lion King,2019-07-12,7.103,The Lion King,"[12, 18, 10751, 16]",10557,9.0095,English,"Simba idolizes his father, King Mufasa, and ta...",2019,"[Adventure, Drama, Family, Animation]",80
2976,Five Easy Pieces,1970-09-12,7.103,Five Easy Pieces,[18],562,2.3319,English,Robert Dupea spends his days doing various odd...,1970,[Drama],23
2977,Love Actually,2003-09-07,7.102,Love Actually,"[35, 10749, 18]",7097,13.0416,English,Eight very different couples deal with their l...,2003,"[Comedy, Romance, Drama]",24
2978,Gia,1998-01-31,7.100,Gia,"[10749, 18]",790,3.1045,English,Gia Carangi meteorically rises to modeling fam...,1998,"[Romance, Drama]",20
2979,Lords Of Dogtown,2005-06-03,7.102,Lords of Dogtown,[18],779,2.6087,English,The radical true story behind three teenage su...,2005,[Drama],64

In [25]:
df.columns

Index(['title', 'release_date', 'vote_average', 'original_title', 'genre_ids',
       'vote_count', 'popularity', 'original_language', 'overview',
       'release_year', 'genres', 'overview_word_count'],
      dtype='object')

In [26]:
new_order = [
    "title",
    "original_title",
    "overview",
    "overview_word_count",
    "release_date",
    "release_year",
    "original_language",
    "genres",
    "vote_average",
    "vote_count",
    "popularity"
]

df = df[new_order]
df

,title,original_title,overview,overview_word_count,release_date,release_year,original_language,genres,vote_average,vote_count,popularity
0,The Shawshank Redemption,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,69,1994-09-23,1994,English,"[Drama, Crime]",8.712,29221,25.0715
1,The Godfather,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",48,1972-03-14,1972,English,"[Drama, Crime]",8.700,22068,21.6694
2,The Godfather Part Ii,The Godfather Part II,In the continuing saga of the Corleone crime f...,39,1974-12-20,1974,English,"[Drama, Crime]",8.600,13338,12.2619
3,Schindler'S List,Schindler's List,The true story of how businessman Oskar Schind...,29,1993-12-15,1993,English,"[Drama, History, War]",8.566,16860,10.4613
4,12 Angry Men,12 Angry Men,The defense and the prosecution have rested an...,58,1957-04-10,1957,English,[Drama],8.500,9528,8.8201
...,...,...,...,...,...,...,...,...,...,...,...
2975,The Lion King,The Lion King,"Simba idolizes his father, King Mufasa, and ta...",80,2019-07-12,2019,English,"[Adventure, Drama, Family, Animation]",7.103,10557,9.0095
2976,Five Easy Pieces,Five Easy Pieces,Robert Dupea spends his days doing various odd...,23,1970-09-12,1970,English,[Drama],7.103,562,2.3319
2977,Love Actually,Love Actually,Eight very different couples deal with their l...,24,2003-09-07,2003,English,"[Comedy, Romance, Drama]",7.102,7097,13.0416
2978,Gia,Gia,Gia Carangi meteorically rises to modeling fam...,20,1998-01-31,1998,English,"[Romance, Drama]",7.100,790,3.1045
2979,Lords Of Dogtown,Lords of Dogtown,The radical true story behind three teenage su...,64,2005-06-03,2005,English,[Drama],7.102,779,2.6087

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2980 entries, 0 to 2979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                2980 non-null   object
 1   original_title       2980 non-null   object
 2   overview             2980 non-null   object
 3   overview_word_count  2980 non-null   int64
 4   release_date         2980 non-null   datetime64[ns]
 5   release_year         2980 non-null   int32
 6   original_language    2980 non-null   object
 7   genres               2980 non-null   object
 8   vote_average         2980 non-null   float64
 9   vote_count           2980 non-null   int64
 10  popularity           2980 non-null   float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(5)
memory usage: 244.6+ KB

In [28]:
df = df.drop(columns=["Unnamed: 0"], errors="ignore")

df["title"] = df["title"].astype("string")
df["original_title"] = df["original_title"].astype("string")
df["overview"] = df["overview"].astype("string")

df["original_language"] = df["original_language"].astype("category")
df["release_year"] = df["release_year"].astype("category")

df["release_date"] = pd.to_datetime(df["release_date"], errors="coerce")

df["vote_average"] = pd.to_numeric(df["vote_average"], errors="coerce")
df["vote_count"] = pd.to_numeric(df["vote_count"], errors="coerce")
df["popularity"] = pd.to_numeric(df["popularity"], errors="coerce")
df["overview_word_count"] = pd.to_numeric(df["overview_word_count"], errors="coerce")


df.dtypes

title                  string[python]
original_title         string[python]
overview               string[python]
overview_word_count             int64
release_date           datetime64[ns]
release_year                 category
original_language            category
genres                         object
vote_average                  float64
vote_count                      int64
popularity                    float64
dtype: object

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2980 entries, 0 to 2979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                2980 non-null   string
 1   original_title       2980 non-null   string
 2   overview             2980 non-null   string
 3   overview_word_count  2980 non-null   int64
 4   release_date         2980 non-null   datetime64[ns]
 5   release_year         2980 non-null   category
 6   original_language    2980 non-null   category
 7   genres               2980 non-null   object
 8   vote_average         2980 non-null   float64
 9   vote_count           2980 non-null   int64
 10  popularity           2980 non-null   float64
dtypes: category(2), datetime64[ns](1), float64(2), int64(2), object(1), string(3)
memory usage: 220.3+ KB

In [30]:
df.to_csv('tmdb_finale___.csv')